menu,
ul {
  list-style: none;
}
header .logo {
  width: 194px;
  float: left;
}
header .logo img {
  width: 100%;
}
header menu {
  float: right;
  display: flex;
  width: 754px;
  margin: 0;
  padding: 0;
}
