@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900&display=swap');
menu,
ul {
  list-style: none;
}
* {
  font-family: 'Lato', sans-serif;
}
.ct-header {
  background: url(../img/bg-header.jpg);
  height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
}
.ct-header header {
  background-color: rgba(1, 10, 43, 0.88);
  padding: 57px;
}
.ct-header header > div {
  display: flex;
  justify-content: space-between;
}
.ct-header header > div .logo {
  width: 194px;
  float: left;
}
.ct-header header > div .logo img {
  width: 100%;
}
.ct-header header > div menu {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 754px;
  margin: 0;
  padding: 0;
}
.ct-header header > div menu li a {
  color: #fff;
  font-weight: 100;
  font-size: 22px;
  border-left: 2px solid transparent;
  padding-left: 8px;
  position: relative;
}
.ct-header header > div menu li a:after {
  content: '';
  position: absolute;
  height: 0;
  bottom: 0;
  width: 2px;
  background-color: #f54949;
  opacity: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ct-header header > div menu li a:hover {
  text-decoration: none;
}
.ct-header header > div menu li a:hover:after {
  height: 100%;
  opacity: 1;
}
.ct-header header > div menu li a img {
  width: 25px;
}
.ct-header header > div menu li a:last-child img {
  margin-left: 15px;
}
.ct-header header > div menu li:last-child a:hover:after {
  display: none;
}
.ct-header section {
  color: #fff;
  font-size: 48px;
  padding: 0 80px;
  font-weight: 100;
  position: relative;
  top: calc(50% - 82px);
  transform: translateY(-50%);
}
.ct-parallax {
  display: flex;
}
.ct-parallax .parallax {
  background-image: url(../img/parallax.jpg);
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 0px;
  margin: 140px 0;
  position: relative;
}
.ct-parallax .parallax img {
  height: 100%;
  width: 100%;
}
.ct-parallax .conheca {
  margin: 140px 0;
}
.ct-parallax .conheca h3 {
  font-size: 46px;
  color: #193a6f;
  font-weight: 300;
  margin-bottom: 20px;
}
.ct-parallax .conheca p {
  font-weight: 300;
  font-size: 22px;
  color: #6e6e6e;
  line-height: 1.4;
  margin-bottom: 20px;
}
.ct-parallax .conheca a {
  background-color: #193a6f;
  color: #fff;
  padding: 6px 15px;
  font-size: 18px;
  border-radius: 10px;
}
